<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ title() }}</h1>

    @if (loading()) {
    <p>Cargando...</p>
    }

    <ul>
      @for (file of files(); track file.path) {
      <li>
        @if (file.type === 'dir') {
        <button (click)="openFolder(file)">📁 {{ cleanName(file.name) }}</button>
        } @else {
        <button (click)="openFile(file)">📄 {{ cleanName(file.name) }}</button>
        }
      </li>
      }
    </ul>

    @if (fileContent()) {
    <hr />
    <h3>{{ currentFile() }}</h3>
    <pre>{{ fileContent() }}</pre>
    }

    <router-outlet />
  </body>
</html>
